
/* img[src=""],img:not([src]){opacity:0;}   */

body{
    padding:0;
    margin:0;
    overflow:hidden;
}
.container {
    width: 100vw;
    height: 100vh;
    padding:0;margin:0;
    overflow:hidden;
}

.img_bg{
    width:100vw;
    height:100vh;
    position:absolute;
    z-index:-1;
}

#pic_area {
    width:100vw;
    height:auto;
    min-height: 156vw;
    margin:0;
    padding-top: 7vw; 
    overflow:hidden;
    display: table-cell; 
    /* vertical-align: middle; */
    text-align: center;
} 

#pic {
    margin: 0;
    padding: 0;
    width:86vw;
    height:auto;
}

.sec {
    width:100vw;
    height: 10vw;
    margin:0;
}

#btn_tujian {
    width: 36vw;
    height: auto;
    margin-top: 2vw; 
    margin-left: 32vw;
}

#desc {
    width:86vw;
    height: 5vw;
    margin-top: 4vw;
    margin-left: 7vw;
    text-align: center;
    color: white;
}

#view_play {
    display: block;
}

#view_wait {
    display: none;
}

#view_result {
    display: none;
}

.title {
    width:100vw;
    height: 10vh;
    margin-top: 6vw;
    margin-left: 2vw;
    text-align: center;
    font-size: 8vw;
    color:white;
}

#wait_desc {
    width:100vw;
    height: 25vh;
    margin-top: 6vw;
    margin-left: 2vw;
    text-align: center;
    font-size: 7vw;
    color: #9cefff;
}

#result_desc {
    width:100vw;
    height: 25vw;
    margin-top: 6vw;
    margin-left: 2vw;
    text-align: center;
    color: #9cefff;
}

#view_result {
    display: block;
}

#wait_count_down {
	-webkit-flex:1;
    display: flex;
    top: 35vh;
	height: 15vh;
	width: 100vw;
	justify-content:center;
	position: absolute;
	align-items:center;
    flex-direction: row;
}

#wait_count_down_d1 {
    display: none;
}

.wait_count_down_digit {
	width: 18vw;
	height: auto;
	justify-content: space-between;
}

#view_tujian {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: fixed;
    display: none;
}

.opacity_cover{
    width:100vw;
    height:100vh;
    position:absolute;
    z-index:-1;
    background-color:#061325; 
    opacity:0.8;
}

#dialog {
    width: 100vw;
    height:135vw;
    margin-left: 0vw;
    margin-top: 6vw; 
    background-image: url(../asset/list_bg.png);
    background-position: center center;
	background-size: 100vw auto;
	/* background-attachment: fixed; */
    background-repeat: no-repeat;
    padding-top: 5vw;
}

#list {
    width: 100vw;
    height:135vw;
    padding-top: 10vw;
    padding-left: 10vw;
}

.tj_item {
    width: 76vw;
    height:22vw;
    margin-top: 1vw;
    margin-left:2vw;
    margin-right:2vw;
    margin-bottom: 0;
    /* background-color: white; */
    background-image: url(../asset/item_bg_1.png);
    background-position: center center;
	background-size: 76vw 15vw;
	/* background-attachment: fixed; */
    background-repeat: no-repeat;
}

.icon_wrap {
    width:13vw;
    height:18vw;
    margin-top: 0vw;
    float:left;
}

.tj_icon {
    width: 17vw;
    height: 17vw;
    margin: 0;
    padding: 0;
}

.icon_first {
    margin-left: 3vw; 
}

.btn_wrap {
    width:20vw;
    height:17vw;
    float:right;
    margin: 0;
    padding: 0;
}

.brn_charge {
    width: 16vw;
    height: auto;
    margin-left: 1vw;
    margin-top: 8vw;
}

#readme {
    width:76vw;
    height: 25vw;
    margin-top: 6vw;
    margin-left: 2vw;
    text-align: left;
    color: white;
    line-height:8vw;
}

